@charset "UTF-8";
/* CSS Document */

*{
	font-family: 'Oxygen', sans-serif;
}


/*Navigation bar features*/
nav{
	
	
}

ul{
	list-style-type: none;
	margin-top: 0px;
	
	
}

li{
	float: left;
	display: block;
	padding: 2px;
	font-size: .75em;
	margin: 10px;
	margin-bottom: 30px;
	
}

a:link{
	text-decoration: none;
	color: gray;
	padding: 10px;
	margin: 30px;
	margin-bottom: 50px;
}

a:hover{
	background-color: #FBF4E4;
	position: sticky;
}
/*---END OF NAV BAR---*/

h1{
	font-size: 2em;
	font-weight:bold;
	clear: both;
}

h2{
	font-size: 1.5em;
	margin-top:-25px;
	font-weight: 100;
}

th{
	font-size: 12px;
	text-align: left;
	padding-left: 30px;
	padding-right: 20px;
}

/*---START OF HOMEPAGE STYLING---*/

/*Adds background color to ever other table row*/
tr:nth-child(even){
	background-color:#FBF4E4;
}

table{
	border-collapse: collapse;
	border-bottom: 1px solid grey; /*Table bottom border*/
}

/*Table border left and right*/
tr{
	border-left: 1px solid grey;
	border-right: 1px solid grey;
}

/*Adds border on top of first data row, not above images*/
tr:nth-child(2){
	border-top: 1px solid grey;
}

/*Removes border from first row of table = images row*/
tr:nth-child(1){
	border: 0px;
}

td{
	font-size: 12px;
	border-left: 1px solid grey;
	border-right: 1px solid grey;
	padding: 7px;
	padding-left: 50px;
}

.image{
	border:none;
}

.image img{
	border: none;
	width: 150px;
}

.logo{
	border: none;
}

/*Makes logo size smaller*/
.logo img{
	width: 50px;
}

/*Edits parenthesis in <th>*/
span{
	font-weight: 100;
	font-style: italic;
}

/*---START OF FORM STYLING---*/

form{
	clear: both;
}