@charset "UTF-8";
/* CSS Document */

*{
	font-family: Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana," sans-serif"
}

h1{
	font-size: 6em;
	font-weight: 900;
}

h2{
	font-size: 5em;
	margin-top: -50px;
	font-weight: 100;
}

th{
	text-align: left;
	
}

img{
	width: 500px;
}

.logo img{
	width: 100px;
}